In [1]:
import wget
import subprocess

In [2]:
!wget 'https://www-nlpir.nist.gov/projects/trecvid/dvu/dvu.development.dataset' -r

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [23]:
!python -m wget "https://www-nlpir.nist.gov/projects/trecvid/dvu/dvu.development.dataset" -r

Usage: wget.py [options]

wget.py: error: no such option: -r

In [ ]:
wget.download('https://www-nlpir.nist.gov/projects/trecvid/dvu/dvu.development.dataset', r=True)

In [ ]:
!pip install directory-downloader

In [ ]:
url = "https://www-nlpir.nist.gov/projects/trecvid/dvu/dvu.development.dataset"
downloader = DDownloader()
downloader.crawl(url)
downloader.download_files()

In [ ]:
import bs4
import requests

url = "https://www-nlpir.nist.gov/projects/trecvid/dvu/dvu.development.dataset"
r = requests.get(url)
data = bs4.BeautifulSoup(r.text, "html.parser")
for l in data.find_all("a"):
    r = requests.get(url + '/' + l["href"])
    print(url + l["href"])
    print(r)

In [ ]:
import asyncio
from directory_downloader import DDownloader


async def main():
    url = "https://example.com/directory/"
    downloader = DDownloader()
    await downloader.crawl(url)  # fetch all the links from /directory/
    await downloader.download_files()  # download all files to current directory


await main()

In [11]:
import asyncio
from directory_downloader import DDownloader


async def main():
    url = "https://www-nlpir.nist.gov/projects/trecvid/dvu/dvu.development.dataset"
    downloader = DDownloader()
    await downloader.crawl(url)  # fetch all the links from /directory/
    await downloader.download_files()  # download all files to current directory

await main()

Skipped URL
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/documentation/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/human.generated.QA.annotations/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/kinolorber.dataset/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/movie.shots/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/movie_knowledge_graph/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/movies/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/ontology_2023.pdf
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/resources/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/scene.segmentation.reference/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/scenes_knowledge_graphs/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/scenes_textual_summaries/
Url:https://www-nlpir.nist.gov/projects/trecvid/dvu/vocab.dvu.json
Start Downloading

In [3]:
import pandas as pd

In [6]:
data = [['1', '1', '10', '1', 'completed', '2013-10-01'], ['2', '2', '11', '1', 'cancelled_by_driver', '2013-10-01'], ['3', '3', '12', '6', 'completed', '2013-10-01'], ['4', '4', '13', '6', 'cancelled_by_client', '2013-10-01'], ['5', '1', '10', '1', 'completed', '2013-10-02'], ['6', '2', '11', '6', 'completed', '2013-10-02'], ['7', '3', '12', '6', 'completed', '2013-10-02'], ['8', '2', '12', '12', 'completed', '2013-10-03'], ['9', '3', '10', '12', 'completed', '2013-10-03'], ['10', '4', '13', '12', 'cancelled_by_driver', '2013-10-03']]
t = pd.DataFrame(data, columns=['id', 'client_id', 'driver_id', 'city_id', 'status', 'request_at']).astype({'id':'Int64', 'client_id':'Int64', 'driver_id':'Int64', 'city_id':'Int64', 'status':'object', 'request_at':'object'})

data = [['1', 'No', 'client'], ['2', 'Yes', 'client'], ['3', 'No', 'client'], ['4', 'No', 'client'], ['10', 'No', 'driver'], ['11', 'No', 'driver'], ['12', 'No', 'driver'], ['13', 'No', 'driver']]
u = pd.DataFrame(data, columns=['users_id', 'banned', 'role']).astype({'users_id':'Int64', 'banned':'object', 'role':'object'})

In [7]:
tmp = t.merge(u, how='left', left_on='client_id', right_on='users_id')
tmp = tmp.merge(u, how='left', left_on='driver_id', right_on='users_id', suffixes=['_user', '_driver'])[['banned_user', 'banned_driver', 'status', 'request_at']]
tmp = tmp[(tmp['banned_user'] == 'No') & (tmp['banned_driver'] == 'No') & (tmp['request_at'] <= "2013-10-03") & (tmp['request_at'] >= "2013-10-01")]

  banned_user banned_driver               status  request_at
0          No            No            completed  2013-10-01
2          No            No            completed  2013-10-01
3          No            No  cancelled_by_client  2013-10-01
4          No            No            completed  2013-10-02
6          No            No            completed  2013-10-02
8          No            No            completed  2013-10-03
9          No            No  cancelled_by_driver  2013-10-03

In [22]:
tmp['total'] = tmp.groupby('request_at').transform('size')
tmp['canceled'] = tmp[tmp['status'] != 'completed'].groupby('request_at').transform('size')
tmp

  banned_user banned_driver               status  request_at  total  canceled
0          No            No            completed  2013-10-01      3       NaN
2          No            No            completed  2013-10-01      3       NaN
3          No            No  cancelled_by_client  2013-10-01      3       1.0
4          No            No            completed  2013-10-02      2       NaN
6          No            No            completed  2013-10-02      2       NaN
8          No            No            completed  2013-10-03      2       NaN
9          No            No  cancelled_by_driver  2013-10-03      2       1.0

In [24]:
tmp.groupby('request_at').aggregate('size')

request_at
2013-10-01    3
2013-10-02    2
2013-10-03    2
dtype: int64

In [34]:
canceled = tmp[tmp['status'] != 'completed'].groupby('request_at').size().to_frame().reset_index()
total = tmp.groupby('request_at').size().to_frame().reset_index()

In [35]:
canceled

   request_at  0
0  2013-10-01  1
1  2013-10-03  1

In [52]:
import numpy as np

a = np.array([5, 1, 2, 1, 5])

[np.sum(i > np.array(list(set(a)))) for i in a]

[2, 0, 1, 0, 2]

In [41]:
r = total.merge(canceled, how='left', on='request_at').fillna(0)
r['Cancellation Rate'] = round(r['0_y']/r['0_x'],2)
r['Day'] = r['request_at']
r

   request_at  0_x  0_y  Cancellation Rate         Day
0  2013-10-01    3  1.0               0.33  2013-10-01
1  2013-10-02    2  0.0               0.00  2013-10-02
2  2013-10-03    2  1.0               0.50  2013-10-03